:root{

	--darkmagenta: hsl(300, 43%, 22%);
	--softPink: hsl(333, 80%, 67%);
	--graymagenta: hsl(303, 10%, 53%);
	--lightmagenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%)		  

};


body{
	font-family: 'Spartan', sans-serif;
	font-size: 15px
}


.main-area{
	
	height: 100vh;
	background: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
	background-position: left top, right bottom;
	background-repeat: no-repeat;

}

.main-heading{
	color: var(--darkmagenta);
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
}


.description{
	color: var(--graymagenta);
	font-family: 'Spartan', sans-serif;
	font-weight: 500;		
}


.ratings{
	background: var(--lightmagenta);
	padding: 1rem;
	border-radius: 8px;
	margin-bottom: 20px;
	align-items: center;
	display: flex;
}

.ratings-2{
	margin-left: 2rem;
}

.ratings-3{
	margin-left: 4rem;
}

.client-box{
	background-color: var(--darkmagenta);
	padding: 2rem 2rem;
	border-radius: 10px;
	margin-bottom: 20px;
}

.client-face img{
	height: 60px;
}


.client-name .name{
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
	color: var(--white);

}

.client-name .desc{

	font-family: 'Spartan', sans-serif;
	color: var(--softPink);
}


.client-says{

	font-family: 'Spartan', sans-serif;
	color: var(--white);
}

.clb-1{
	padding-top: 0rem;
}

.clb-2{
	padding-top: 1rem;
}

.clb-3{
	padding-top: 2rem;
}

@media only screen and (max-width: 991px) {

	.ratings-2{
		margin-left: 0rem;
	}

	.ratings-3{
		margin-left: 0rem;
	}

	.clb-1{
		padding-top: 0rem;
	}

	.clb-2{
		padding-top: 0rem;
	}

	.clb-3{
		padding-top: 0rem;
	}


}



@media only screen and (max-width: 766px) {
	.main-heading{
		text-align: center;
		margin-bottom: 20px;
	}

	.description{
		text-align: center;
		margin-bottom: 40px;
	}

	.ratings{
		display: block;
		text-align: center;
	} 

	.stars{
		margin-bottom: 5px;
	}

	.ratings-2{
		margin-left: 0rem;
	}

	.ratings-3{
		margin-left: 0rem;
	}

}
